div
    #context-menu
        ul
            li
                a(href='javascript:void(0)') menu Item 1
            li
                a(href='javascript:void(0)') menu Item 2
            li
                a(href='javascript:void(0)') menu Item 3

    #object-menu
        ul
            li
                a(href='javascript:void(0)') object Item 1
            li
                a(href='javascript:void(0)') object Item 2
            li
                a(href='javascript:void(0)') obkect Item 3