div
    #context-menu
        ul
            li.has-sub-menu
                a(href='javascript:void(0)') Create
                ul.sub-menu
                    li(data-type='rect' data-action='create')
                        a(href='javascript:void(0)') box
                    li(data-type='circle' data-action='create')
                        a(href='javascript:void(0)') circle
            li
                a(href='javascript:void(0)') menu Item 2
            li
                a(href='javascript:void(0)') menu Item 3

    #object-menu
        ul
            li(data-action='edit' data-controls='')
                a(href='javascript:void(0)') edit
            li
                a(href='javascript:void(0)') object Item 2
            li
                a(href='javascript:void(0)') obkect Item 3