doctype html
html
    head
        title Hello world

        style(rel='stylesheet', href='css/main.css')
        script(src="lib/require.js", data-main="js/config.js")
    body
        .hello Hello World